body {
    background-color: black;
}

#instructionsBox, #endGameDisplay, #endLevelDisplay {
    width: 500px;
    height: 700px;
    background-color: black;
    color: chartreuse;
}

#gameBoard {
    background-color: white;
    width: 800px;
    height: 700px;
    position: relative;
}

#vipor {
    width: 90px;
    height: 50px;
    position: absolute;
    top: 42px;
    left: 10px;
}

.raiders {
    position: absolute;
    top: 20px;
    left: 360px;
    width: 80px;
    height: 50px;
}

.missiles {
    position: absolute;
    width: 25px;
    height: auto;
}

.explosions {
    width: 60px;
    height: auto;
    position: absolute;
}

.hostages {
    width: 20px;
    height: 25px;
    position: absolute;
}
